@model CRUDOperations.Models.UsersViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Edit User</legend>

     @Html.HiddenFor(model => model.UserId)
    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Birthdate)
    </div>
    <div class="editor-field">

        @Html.EditorFor(model => model.Birthdate, new { type = "date" })
        @Html.ValidationMessageFor(model => model.Birthdate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Birthplace)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Birthplace)
        @Html.ValidationMessageFor(model => model.Birthplace)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.Phone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Gender)
    </div>
    <div class="editor-field">
        Male
        @Html.RadioButtonFor(model => model.Gender, "M")
        Female
        @Html.RadioButtonFor(model => model.Gender, "F")
        @Html.ValidationMessageFor(model => model.Gender)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.Employed)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Employed)
        @Html.ValidationMessageFor(model => model.Employed)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.MartialStatus)
    </div>
    <div class="editor-field">
        @Html.DropDownList("MartialStatus", new List<SelectListItem>
        {
            new SelectListItem{ Text="I Martuar", Value = "Martuar" },
            new SelectListItem{ Text="Beqar", Value = "Beqar" },
            new SelectListItem{ Text="I Ndare", Value = "I Ndare" },
            new SelectListItem{ Text="Ve", Value = "Ve" },
        })
    </div>


    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
